body {
	font-family: 'Raleway', sans-serif;
}

.wrapper {
	width: 45vw;
    position: absolute;
    left: 0;
    background-image: url("../img/treasuremap.png");
    background-repeat: no-repeat;	
    color: black;
    height: 200%;
}

#calculateButton {

	/*position: absolute;
	margin-left: 36%;
	margin-top: 77%;*/
  margin-left: 295px;
  margin-top: 630px;
	background-color: #bfb288; 
  border: none;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.6em;
}
#calculateButton:hover {

/*	position: absolute;
	margin-left: 36%;
	margin-top: 77%;*/
  margin-left: 295px;
  margin-top: 630px;
	background-color: #42210b; 
  border: none;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.6em;
}

#part-a {
  position: absolute;
	font-weight: bold
	font-size: 0.9em;
	color: red; 
	margin-left: 295px;
 }

#part-b {
  position: absolute;
	font-weight: bold
	font-size: 0.9em;
	color: red; 
	margin-left: 100px;
}
